<h1>Yo There!</h1>
<% proper_name1 = params[:name1].capitalize %>
<% proper_name2 = params[:name2].capitalize %>
params[:name1]
params[:name2]
<h1>What's up <%= proper_name1 %>?</h1>
<h1>What's up <%= proper_name2 %>?</h1>
